body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    margin: 0;
}

.ip-address {
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px; /* Adjusted padding */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.ip-address:hover {
    transform: scale(1.05);
}

.public-ip, .private-ip {
    cursor: pointer;
    color: #007bff;
    display: inline-block;
    width: 150px; /* Set a fixed width for better alignment */
}

.public-ip:hover, .private-ip:hover {
    text-decoration: underline;
}
