body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
    margin: 0;
}

.topbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%; /* Make it circular */
    width: 200px; /* Set the width */
    height: 200px; /* Set the height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar h1 {
    margin: 0;
    font-size: 24px;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.ip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ip-address {
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 400px;
}

.ip-address:hover {
    transform: translateY(-5px);
}

.public-ip, .private-ip {
    cursor: pointer;
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

@media only screen and (max-width: 600px) {
    .navbar a {
        padding: 10px 15px; /* Adjusted padding for tap targets on smaller screens */
    }
}
