body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
    margin: 0;
}

.ip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ip-address {
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 400px;
}

.ip-address:hover {
    transform: translateY(-5px);
}

.public-ip, .private-ip {
    cursor: pointer;
    display: inline-block;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.header {
    text-align: center;
    margin-bottom: 20px; /* Adjusted margin for smaller screens */
}

.header h1 {
    margin: 0;
    font-size: 24px; /* Adjusted font size for smaller screens */
    color: #007bff;
}

.footer {
    text-align: center;
    margin-top: 20px; /* Adjusted margin for smaller screens */
    font-size: 14px;
    color: #6c757d;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .ip-address {
        padding: 15px; /* Adjusted padding for smaller screens */
        max-width: 300px; /* Adjusted maximum width for smaller screens */
    }

    .header h1 {
        font-size: 20px; /* Further reduced font size for smaller screens */
    }

    .footer {
        font-size: 12px; /* Further reduced font size for smaller screens */
    }
}
